/* CSS files add styling rules to your content */

body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Baloo Chettan 2", cursive;
}

header {
  background-color: black;
  border-top: #e4a4ee solid 5px;
  border-bottom: #17d3ff solid 5px;
  border-left: #ffaa7b solid 5px;
  border-right: #fee975 solid 5px;
  margin: 20px;
}

img {
  margin: 10px;
  border: 4px solid #00ffcc;
}
